*{
    margin: 0;
    padding: 0;
}
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: 'Poppins', sans-serif;
  }
  
  .login {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: white;
  }
  
  h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(39, 38, 38);
  }
  
  input::placeholder {
    color: rgba(33, 32, 32, 0.7);
  }
  
  input:focus, select:focus {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #ff758c, #ff7eb3);
    color: rgb(55, 53, 53);
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 118, 147, 0.4);
  }
  